* {
  padding: 0;
  margin: 0;
}
#header-title {
  height: 50px;
  background-color: red;
  width: 100%;
}
.header-logo {
  height: 500px;
  background-color: orange;
}
.header-three {
  width: 960px;
  margin: 0 auto;
  display: flex;
}
.header-item {
  height: 1400px;
  width: 230px;
  background-color: #99ff00;
}
.header-list {
  background-color: green;
  height: 1400px;
  width: 500px;
}
.header-other {
  height: 1400px;
  width: 230px;
  background-color: #99ff00;
}
.header-sidebar {
  background-color: blue;
  height: 100px;
  width: 100%;
}
